html,body{
	position: relative;
	width: 100%;
	height: 100%;
}
#home{
	margin:0;
	background-color: black;
}
.background{
	display: table;
	height: 100%;
	width: 100%;
	color: white;
}
.container{
	padding-top: 3em;
}
#Logo{
	width: 10em;
	filter: invert(100%);
}
.header{
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.header h1{
	margin:0;
}
#space{
	padding:1em !important;
}
ul > li{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	text-decoration: none;
}
#social-links{
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
i{
	padding: 1em;
}
button{
	font-size: 2em !important;
	font-family: 'Patua One', cursive !important;
	border-top-color: white !important;
	border-bottom-color: white !important;
	border-left-color: black !important;
	border-right-color: black !important;
}
#projectsModal{
	background: url(http://www.dimin.net/software/panojs/images/progress.gif);
	background-position: center;
}